<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Strapizzami</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-info opacity-75">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom">
            <div class="container">
                <ul class="d-flex fs-2 list-unstyled pt-3 gap-5 text-uppercase">
                    <li><a class="nav-link text-success fw-bold" href="/Home/Index">Home</a></li>
                    <li><a class="nav-link text-light fw-bold">Le nostre pizze</a></li>
                    <li><a class="nav-link text-light fw-bold">Contatti</a></li>
                    <li><a class="nav-link text-light fw-bold">Chi siamo</a></li>
                    <li><a class="nav-link text-danger fw-bold" href="/Home/Admin">Area riservata</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
