

@{
    ViewData["Title"] = "Admin";
}


<div class="container" style="margin-top: 5rem">
    <table class="table table-bordered border-primary">
        <thead>
            <tr class="align-middle text-center">
                <th scope="col">ID</th>
                <th scope="col">Immagine</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle text-center">
                <th scope="row">1</th>
                <td><img class="w-25" src="https://italianspizza.it/wp-content/uploads/2022/06/FAMILY-PIZZA-MARINARA-online-pizza-sconti-eventi-feste-delivery-consegna-a-domicilio-san-colombano-al-lambro-lambrinia-monteleone-lodi-milano-italia-450x450.png" /></td>
                <td>Marinara</td>
                <td><p>La tipica pizza napoletana condita con pomodoro, aglio, origano e olio.</p></td>
                <td><span>€ 4,50</span></td>
            </tr>
            <tr class="align-middle text-center">
                <th scope="row">2</th>
                <td><img class="w-25" src="https://italianspizza.it/wp-content/uploads/2022/06/FAMILY-PIZZA-MARGHERITA-online-pizza-sconti-eventi-feste-delivery-consegna-a-domicilio-san-colombano-al-lambro-lambrinia-monteleone-lodi-milano-italia.png" /></td>
                <td>Margherita</td>
                <td><p>Altra tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio</p></td>
                <td><span>€ 5,50</span></td>
            </tr>
            <tr class="align-middle text-center">
                <th scope="row">3</th>
                <td><img class="w-25" src="https://www.pizzeriagraniantichi.it/templates/yootheme/cache/06/pizza-tonno_cipolla-06357538.png" /></td>
                <td>Tonno & cipolla caramellata</td>
                <td><p>La Pizza tonno e cipolla è una pizza ricca di condimento dal sapore deciso, una croccante base di pasta per pizza farcita con salsa di pomodoro, cipolle, tonno e mozzarella filante. </p></td>
                <td><span>€ 7,50</span></td>
            </tr>
        </tbody>
    </table>
</div>
